$
        <div id="archive_title" class="archive_bigfont">アーカイブ</div>
            <div class="archive_menu_margin">
            </div> 
            <div id="archive_menu">
#
$ 
                <div id="archive_tab">
                    <a href="#
$         
" class="archive_base">  クリックして表示   </a>
                </div>            
#     
$            
            </div>
            <div class="archive_menu_margin">
            </div> 
#
